<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header class="main_title">Hello Cancer </header>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="./main.html">main page</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">About</a>
                    <ul class="submenu">
                        <li><a href="about.html">introduction</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">RnD</a>
                    <ul class="submenu">
                        <li><a href="RnD.html">explain code</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">User's Guide</a>
                    <ul class="submenu">
                        <li><a href="Guide.html">How to use</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="Ai_cancer.html">Ai cancer</a>
                    <ul class="submenu-main">
                        <li><a href="annotation.html">annotation</a></li>
                        <li><a href="feature.html">feature extract</a></li>
                        <li><a href="predict.html">classify/predict</a></li>
                    </ul>
                </li>
        </ul>
</div>
<div style="text-align: center;">
  <img src="../static/predict.png" alt="">
</div>

</body>