<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header class="main_title">Hello Cancer </header>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="./main.html">main page</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">About</a>
                    <ul class="submenu">
                        <li><a href="about.html">introduction</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">RnD</a>
                    <ul class="submenu">
                        <li><a href="RnD.html">explain code</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">User's Guide</a>
                    <ul class="submenu">
                        <li><a href="Guide.html">How to use</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="Ai_cancer.html">Ai cancer</a>
                    <ul class="submenu-main">
                        <li><a href="annotation.html">annotation</a></li>
                        <li><a href="feature.html">feature extract</a></li>
                        <li><a href="predict.html">classify/predict</a></li>
                    </ul>
                </li>
        </ul>
    </div>
    <div class="rnd-title-box">
        <br>
        <h2 class = "rnd-main-title">A dark metastasis prediction algorithm using tissue images</h2>
        <br>
    </div>
    <div class="rnd-main-container">
        <div class="rnd-main-content-container">
            <div class="rnd-content-box">
                <h2 class="rnd-content-tile">1.Utils</h2>
                <p class="rnd-content">유틸리티와 함수 정의</p>
            </div>
            <div class="rnd-content-box">
                <h2 class="rnd-content-tile">2.Models</h2>
                <p class="rnd-content">2.1 encoder : Inception-ResNet V2 + base : Unet</p>
                <p class="rnd-content">2.2 encoder : timm-efficientnet-b3 + base : Unet</p>
                <p class="rnd-content">이미지의 크기, 해상도, 복잡도, 레이블의 정밀함, 사용가능한 모델링 데이터량을 고려하기위해서 encoder를 inception-resnet 
                    v2 를 이용했습니다. encoder를 inception-resnet v2 으로 선택하면 데이터를 inception-resnet을 이용해 특성을 뽑아내게 됩니다.
                    이미지의 고해상도 예측을 가능하게 한건 Unet의 역할이 크고 의료용 이미지,
                    segmentation에 사용되는 모델입니다. 단면도 슬라이스 데이터에 강점을 보이기 때문에 base 모델을 Unet으로 결정했습니다.
                    그렇게 되면 모델의 알고리즘은 encoder를 inception-resnet v2로 설정했기에 이 모델로 이미지의 특성을 뽑아내고 이 값을 base로 설정된 Unet에 넘겨주고 최종 학습은 Unet으로 진행합니다.
                    Unet을 선택한 이유는 일단 세포 이미지 데이터가 단면도 슬라이스 데이터이며 segmentation이 된 데이터와 함께 학습하기 때문입니다.</p>
                <img class = "rnd-models-img" src="../static/model1.jpeg" alt="My Image">
                <img class = "rnd-models-img" src="../static/model2.jpeg" alt="My Image">
            </div>

            <div class="rnd-content-box">
                <h2 class="rnd-content-tile">3.Custom_Dataset</h2>
                <p class="rnd-content">pytorch의 Dataset 클래스를 상속받아 사용자의 입맞대로 데이터셋을 정의할 수 있습니다.</p>
                <p class="rnd-content">여기선 데이터셋 전처리, 이미지 로딩, 데이터 샘플링 등을 정의할 수 있습니다. </p>
                <p class="rnd-content">__init__ 을 통해 함수에서 데이터셋의 경로, 이미지 크기, 전처리 방법 등을 설정해줍니다.</p>
                <p class="rnd-content">___len__ 을 통해 __init__에서 설정해 준 값을 받아 데이터 셋의 최종 크기를 반환받습니다.</p>
                <p class="rnd-content">__getitem__ 을 통해 최종 각 샘플에 대한 이미지와 레이블 등을 반환받습니다.</p>
            </div>

                <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">4. Image_Split</h2>
                    <p class="rnd-content">이미지 데이터에서 제공된 세포이미지 + 세포에 대한 mask 데이터가 각 58장 존재합니다.</p>
                    <p class="rnd-content">이미지 데이터가 한 프레임에 한개의 세포만 존재하는 것이 아니라 여러개의 데이터가 존재합니다.  </p>
                    <p class="rnd-content">하지만 mask 이미지는 여러개의 세포 중 한개에 대한 mask 만 제공하기때문에 mask를 기준으로 이미지를 자릅니다. </p>
                    <p class="rnd-content">크기에 맞게 자른 세포 이미지는 train_cropped 폴더와 test_cropped 폴더에 저장됩니다. </p>
                    <p class="rnd-content">기존 존재했던 58장의 mask 이미지를 train_cropped 폴더 내 이미지의 크기에 맞게 다시 잘라줍니다.</p>
                    <p class="rnd-content">잘라준 mask이미지를 mask_cropped 폴더에 저장합니다.</p>
                    <p class="rnd-content">이렇게 되면 train_cropped 폴더 내 이미지의 크기와 mask_cropped 폴더 내 이미지의 크기가 동일하게 되어 사용할 수 있게 됩니다.</p>
                    <img class = "rnd-models-img1" src="../static/split.jpeg" alt="My Image">
                </div>

                <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">5. segmentation_train</h2>
                    <p class="rnd-content">기존 58장의 mask 데이터만 이용해서 최종 예측하려고 하니 정확도가 60% 정도밖에 나오지 않아 도입했습니다. </p>
                    <p class="rnd-content">4번을 통해 cropped 한 두개의 이미지. train_cropped 폴더내 이미지와 mask_croped 폴더내 이미지 58장을 이용해 학습시킵니다.</p>
                    <p class="rnd-content">학습 시키는 이유는 mask + 세포이미지 데이터는 58장밖에 없으며 test_mask 데이터가 없기때문에, 최종 전이를 예측하기 위해 mask 데이터를 이용하려고 합니다. </p>
                    <p class="rnd-content">_기존 존재한 데이터를 학습 시키고 새롭게 train과 test에 대해 mask 데이터를 생성하기 위함입니다. train : 1000장 생성 test : 250장 생성</p>
                </div>

                <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">6.annotation_mask_inference</h2>
                    <p class="rnd-content">5번을 통해 학습시킨 후 저장된 segmentaion_generate_model.pth를 이용해 데이터를 생성해줍니다. </p>
                    <p class="rnd-content">생성된 mask 데이터는 train_generated_mask, test_generated_mask 폴더에 저장됩니다. </p>
                    <p class="rnd-content">CGAN과 비슷한 개념입니다.</p>
                    <img class = "rnd-models-img1" src="../static/anotation.jpeg" alt="My Image">
                </div>

                <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">7.image_feature_extraction</h2>
                    <p class="rnd-content">train_imgs + train_generated_mask 데이터 각 1000장 test_imgs + test_generated_mask 데이터 각 250장 을 이용합니다.</p>
                    <p class="rnd-content">데이터의 feature 추출 후 (이미지의 특이점을 파악하기 위함) 이미지 데이터의 feature 추출 후 저장, 특정 픽셀값과 6번을 통해 나온 mask를 합치는 작업입니다.</p>
                    <p class="rnd-content">각 이미지가 전이되었는지 유무를 넣어주기 위해 label 과 연결해야합니다</p>
                    <img class = "rnd-models-img1" src="../static/feature.jpeg" alt="My Image">
                </div>

                <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">8.image_classification</h2>
                    <p class="rnd-content">코드+설명..</p>
                    <img class = "rnd-models-img3" src="../static/predictimg.png" alt="My Image"><br>
                    <img class = "rnd-models-img2" src="../static/predict.png" alt="My Image">
                </div>
            </div>
        </div>
    </div>
</body>
</html>