/* Your existing CSS code */

header {
    line-height: 170px;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 120px;
    color: rgba(243, 87, 81, 0.93);
    text-shadow: 0px 7px;
    -webkit-text-stroke: 5px pink;
}



/* anotation */
.main-annotate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content-box-container{
    text-align: center;
    box-sizing: content-box;
    border: 3px pink;
    width: 600px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px -1px 1px 1px pink, 20px 20px 5px rgb(0, 0, 0, 0.6);
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-content-box-container:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    background-color: #ddd;
    transition-duration: 0.5s;
}

.ano-text{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    margin: 10%;
    text-align: center;
}



.button {
    font-size: 10px;
    border:1x solid pink;    /*---테두리 정의---*/
    font:12px 굴림;      /*--폰트 정의---*/  /*--폰트 굵기---*/
    color: black;    /*--폰트 색깔---*/
    width:80px;
    height:50px;  /*--버튼 크기---*/
}

body {
    background-image: url("../static/fish.gif");
    background-size: cover;
}

.sad {
    background-size: cover;
}

ul, li {
    list-style-type: none;
}

.sub_title {
    font-size: 45px;
    text-align: center;

    color: rgba(243, 87, 81, 0.93);
    text-shadow: 0px 4px;
    -webkit-text-stroke: 1px pink;
}

.sub_content {
    text-align: center;
    font-family: fantasy;
    height: 100px;
}

.main_img {
    text-align: center;
}

.content_explain {
    text-align: center;
}

#chooseFile {
    text-align: center;
}

.button1 {
    position: relative;
    top: 30px;
    left: 300px;
    display: inline-block;
}

.button2 {
    position: relative;
    top: 5px;
    left: 870px;
    display: inline-block;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.menu {
    width: 900px;
    overflow: hidden;
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    position: relative;
}

.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 35px;
    background-color: pink;
}

.menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.submenu > li {
    line-height: 50px;
    background-color: white;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.submenu-main {
    height: 0;
    overflow: hidden;
}

.menu > li:hover {
    background-color: white;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: auto;
    transition-duration: 1s;
}

.menu > li:hover .submenu-main {
    height: auto;
    transition-duration: 1s;
}

.developer-container {
    margin: 5px;
}

.developer-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-right: 400px;
}

.developer {
    text-align: center;
    display: block;
    padding: 40px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.4s;
    box-shadow: 20px 20px 20px #555;

}

.developer:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    background-color: white;
    transition-duration: 0.5s;
}

.developer-img {
    border-radius: 10px;
}

.main-about-img {
    width: 500px;
}

.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 3px 0;
    right: 40px;
}

.content-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.tech-article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.tech-content {
    display: block;
    padding: 40px 40px;
    border-radius: 10px;
    /* box-shadow: 20px 20px 40px #555; */
    transition: ease-in-out 0.4s;
}




.tech-content:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    background-color: white;
    transition-duration: 0.5s;
}

.tech-subtitle {
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tec-subcontent {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.tech-title-image {
    border-radius: 5px;
    width: 150px;
}

.main_img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.developer-role {
    font-size: 16px;
    font-weight: 700;
}

.main_guide_container {
    width: 100%;
    height: 500px;
    border: 1px solid #003458;
}

.left {
    width: 30%;
    float: left;
    box-sizing: border-box;
    background: #8977ad;
}

.right {
    width: 70%;
    float: right;
    box-sizing: border-box;
    background: #ece6cc;
}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: lightgreen;
    transition: width 0.5s ease-in-out;
    z-index: 9999;
}

/* Newly added CSS code */

.tech-content {
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px #555;
    transition: ease-in-out 0.4s;
}

.tech-content:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

.tech-subtitle {
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tec-subcontent {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.main_guide_container {
    width: 100%;
    height: 500px;
    border: 1px solid #003458;
}


/* rnd */

.rnd-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.rnd-content-tile{
    font-family: Arial, Helvetica, sans-serif;
}

.rnd-title-box{
    box-sizing: content-box;
    border: 3px pink;
    width: 900px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px -1px 1px 1px pink, 20px 20px 5px rgb(0, 0, 0, 0.6);
    margin-top: 40px;
}

.rnd-title-box:hover{
    background-color: white;
    transition-duration: 0.5s;
}

.rnd-main-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.rnd-sub-title{
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rnd-content-box{
    /* background-color: ghostwhite; */
    box-sizing: content-box;
    border: 3px pink;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    display: block;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.4s;
    box-shadow: -1px -1px 1px 1px pink, 20px 20px 5px rgb(0, 0, 0, 0.6);
    border-radius: 20px;
}

.rnd-content-box:hover{
    background-color: white;
    transition-duration: 0.5s;
}

.rnd-content{
    width: auto;
    height: auto;
}

.rnd-models-img{
    width: 300px;
    height: 200px;
}

.rnd-models-img1{
    width: 600px;
    height: 200px;
}

.rnd-models-img2{
    width: 250px;
    height: 200px;
}

.rnd-models-img3{
    width: 400px;
    height: 200px;
}
