<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header class="main_title">Hello Cancer </header>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="./main.html">main page</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">About</a>
                    <ul class="submenu">
                        <li><a href="about.html">introduction</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">RnD</a>
                    <ul class="submenu">
                        <li><a href="RnD.html">explain code</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">User's Guide</a>
                    <ul class="submenu">
                        <li><a href="Guide.html">How to use</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="Ai_cancer.html">Ai cancer</a>
                    <ul class="submenu-main">
                        <li><a href="annotation.html">annotation</a></li>
                        <li><a href="feature.html">feature extract</a></li>
                        <li><a href="predict.html">classify/predict</a></li>
                    </ul>
                </li>
        </ul>
    </div>
    <div class="rnd-title-box">
        <hr>
        <h2 class = "rnd-main-title">How to use</h2>
        <!-- <p class = "rnd-sub-title">annotation</p> -->
        <hr>
    </div>
        <div class="rnd-main-container">
            <div class="rnd-main-content-container">
                <div class="rnd-content-box">
                    <h2 style="font-size: 40px; border-radius: 10px; font-family: Arial, Helvetica, sans-serif; background-color: #ddd ;">annotation</h2>
                    <h2 class="rnd-content-tile">1. 예측할 이미지 업로드</h2>
                    <img class = "guide-models-img" src="../static/a_1.jpg" alt="My Image">
                    <h2 class="rnd-content-tile">2. 제출 후 약 3분간 대기(hpc 기준 약 3 ~ 5분정도 소요)</h2>
                    <img class = "guide-models-img1" src="../static/a_2.jpg" alt="My Image" style="width: 600px; height: 100px;">
                    <h2 class="rnd-content-tile">3.정상적인 결과</h2>
                    <img class = "guide-models-img" src="../static/a_3.jpg" alt="My Image">
                </div>
                <!-- <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">2. 제출 후 약 3분간 대기(hpc 기준 약 3 ~ 5분정도 소요)</h2>
                    <img class = "guide-models-img1" src="./a_2.jpg" alt="My Image" style="width: 600px; height: 100px;">
                </div> -->
                <!-- <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">3.정상적인 결과</h2>
                    <img class = "guide-models-img" src="./a_3.jpg" alt="My Image">
                </div> -->
                <!-- feature extract-->
                <div class="rnd-content-box">
                    <h2 style="font-size: 40px; border-radius: 10px; font-family: Arial; background-color: #ddd ;">feature extract</h2>
                    <h2 class="rnd-content-tile">1.분석에 필요한 csv 업로드</h2>
                    <img class = "guide-models-img1" src="../static/f_1.jpeg" alt="My Image" style="width: 800px; height: 100px;"><br>
                    <img class = "guide-models-img" src="../static/f_2.jpg" alt="My Image">
                    <h2 class="rnd-content-tile">2.제출 후 약 1분간 대기(hpc기준 약 1 ~ 2분정도 소요)</h2>
                    <img class = "guide-models-img1" src="../static/a_2.jpg" alt="My Image" style="width: 600px; height: 100px;">
                    <h2 class="rnd-content-tile">3.정상적인 결과</h2>
                    <img class = "guide-models-img" src="" alt="My Image">
                </div>
                <!-- <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">2.제출 후 약 1분간 대기(hpc기준 약 1 ~ 2분정도 소요)</h2>
                    <img class = "guide-models-img1" src="./a_2.jpg" alt="My Image" style="width: 600px; height: 100px;">
                </div> -->
                <!-- <div class="rnd-content-box">
                    <h2 class="rnd-content-tile">3.정상적인 결과</h2>
                    <img class = "guide-models-img" src="" alt="My Image">
                </div> -->
                <!-- prediction / classify -->
                <div class="rnd-content-box">
                    <h2 style="font-size: 40px; border-radius: 10px; background-color: #ddd ;">Prediction / classify</h2>
                    <img class = "guide-models-img" src="../static/prediction_classify.png" alt="My Image">
                </div>
            </div>
        </div>
    </div>


</body>
</html>