<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main_title">Hello Cancer </header>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="./main.html">main page</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">About</a>
                    <ul class="submenu">
                        <li><a href="about.html">introduction</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">RnD</a>
                    <ul class="submenu">
                        <li><a href="RnD.html">explain code</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">User's Guide</a>
                    <ul class="submenu">
                        <li><a href="Guide.html">How to use</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="Ai_cancer.html">Ai cancer</a>
                    <ul class="submenu-main">
                        <li><a href="annotation.html">annotation</a></li>
                        <li><a href="feature.html">feature extract</a></li>
                        <li><a href="predict.html">classify/predict</a></li>
                    </ul>
                </li>
        </ul>
</div>
    <div class="main-content-box-container">
        <h2 class="sub_title">Cancer Metastasis Detector</h2>
        <img class = "main-img" src="../static/predictimg.png" alt="My Image" style="width: 400px; height: 400px;">
    </div>
    <h4 class="content_explain">Lymph nodes play a very fatal role in the metastasis of cancer, in the spread of cancer.
        Lymph node metastasis is the most common word <br> we hear when diagnosed with cancer at a hospital and what we should be interested in and treatment and prognosis depend on whether or not these lymph nodes metastasize.<br> Therefore, identifying the presence and stage of lymph node metastasis plays a very key role in treating and diagnosing cancer.</h4>
    <h4 class ="sub_content"> Prediction of lymphoid metastasis in breast cancer through breast cancer pathology slide images and clinical items </h4>
</body>
</html>